body{
    text-align: center;
    margin: 0;
}

form input,form button{
    padding: 10px;
    margin: 10px;
    border-radius:5px;
border: none;       
}

.header,footer{
    /* https://grabient.com/HQBgnAbANMAcCsAWGB2EAmKBaEwCMII2ueKKM6AzNDsImJrRAccJWHq3uubSJbBggIKIA?style=linearGradient&steps=2&angle=90 */

background: linear-gradient(90deg, rgba(7, 174, 234, 1.000) 0.000%, rgba(43, 245, 152, 1.000) 100.000%);
padding: 30px;
color: white;
font-size: 20px;
}

table{
    width:90%;
    margin-left: 5%;
}
th,td{
   border: 2px solid black;
   padding: 10px;
}

th{
    background-color: rgb(206, 162, 248);
    font-size: 20px;
    
}

tr:nth-child(even) {
background-color: lightblue;
}

tr:nth-child(odd) {
background-color: rgb(247, 183, 237);
}

a{
    color: black;
    text-decoration: none;
}

a:hover{
    text-decoration: underline;
    font-size: larger;
    
}
.cards{
    margin: 20px;
}

.cards a{
    padding:10px;
border-radius: 5px;
background-color: lightgreen;
margin: 20px;
font-size: 20px;
}

.cards a:hover{
    background-color: deepskyblue;
    color: white;
    box-shadow: 0 4px 12px black;
    font-size: 25px;

}

.content-eng{
    background-color:rgb(208, 250, 141); 
    font-size:25px;
    padding:50px
}

.content-comp{
 background-color: rgb(178, 155, 224);
    font-size:25px;
    padding:50px
}

.content-EVS{
 background-color:lightsalmon ;
    font-size:25px;
    padding:50px
}



.content-Guj {
background-color: rgb(171, 85, 85);
    font-size:25px;
    padding:50px

}
 

.content-Hindi {
background-color: rgb(247, 183, 237);
    font-size:25px;
    padding:50px

}

.content-Art{
    background-color: blueviolet;
    font-size:25px;
    padding:50px
}

.content-Math{
    background-color: rgb(159, 82, 146);
    font-size:25px;
    padding:50px
}

.content-Music{
    background-color: darkslateblue;
    font-size:25px;
    padding:50px
}

.content-scilab{
   background-color: lightpink;
    font-size:25px;
    padding:50px
}

.Feedback{
  background-color: rgb(59, 148, 183);
    font-size:25px;
    padding:50px
}

button{
background-color: lightgreen;
padding: 5px;
font-size: 20px;
}

#result{
    font-size: 40px;
}
.homebtn{
background-color: rgb(7, 0, 5);
padding: 10px;
margin-left: 1300px;
font-size: 20px;
color:white;
border-radius: 15px;
}